
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Login</title>
    <link rel="stylesheet" href="~/Content/css/Twitter.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="box box-one">
            <i class="fab fa-twitter"><img src="https://img.icons8.com/color/50/000000/twitter--v1.png" /></i>
            <button>
                <img src="~/Content/images/google (1).png" width="19">
                <span>Sign in with Google</span>
            </button>
            <button>
                <img src="~/Content/images/apple.png" width="19">
                <span>Sign in with Apple</span>
            </button>
        </div>
        <h5>Or</h5>
        <div class="mt-4 box box-two">
            <form asp-action="Twitter" method="post" class="form">
                <input class="mb-3" type="text" name="email" placeholder="Phone, Username or Email" />
                <input class="mb-3" type="text" name="password" placeholder="password" />
                <button type="submit" class="mb-3 next-btn">Next</button>
                <button class="mb-2">Forget password</button>
            </form>

        </div>
        <p>Don't have an account <a href="#">Sign Up</a></p>
    </div>
</body>
</html>