@{
    Layout = null;
}


<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Admin Dashboard | By Code Info</title>
        <link rel="stylesheet" href="~/Content/css/style1.css" />
        <!-- Font Awesome Cdn Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="#">EasyPay</a>
                <div class="search_box">
                    <input type="text" placeholder="Search EasyPay">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <div class="header-icons">
                <i class="fas fa-bell"></i>
                <div class="account">
                    <img src="./pic/img.jpg" alt="">
                    <h4>Jhon Viek</h4>
                </div>
            </div>
        </header>
        <div class="container">
            <nav>
                <div class="side_navbar">
                    <span>Main Menu</span>
                    <a href="#" class="active">Dashboard</a>
                    <a href="#">Profile</a>
                    <a href="#">MailBox</a>



                </div>
            </nav>

            <div class="main-body">
                <h2>Dashboard</h2>
                <div class="promo_card">
                    <h1>Welcome to EasyPay</h1>
                    <span>Lorem ipsum dolor sit amet.</span>
                    <button>Learn More</button>
                </div>

                <div class="history_lists">
                    <div class="list1">
                        <div class="row">
                            <h4>History</h4>
                            <a href="#">See all</a>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Dates Entered</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>SamTonny@gmail.com</td>
                                    <td>1234643</td>
                                    <td>18, December, 2023</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>CodeInfo@gmail.com</td>
                                    <td>123456</td>
                                    <td>29, July, 2023</td>

                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>JhonDavid@outlook.com</td>
                                    <td>1234324</td>
                                    <td>15, July, 2022</td>

                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>SalinaGomiz@gmail.com</td>
                                    <td>testpassword</td>
                                    <td>5, July, 2022</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="list2">
                        <div class="row">
                            <h4>Documnets</h4>
                            <a href="#">Upload</a>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip Code</th>
                                    <th>Credit Card Number</th>
                                    <th>Name of the Card</th>
                                    <th>Month</th>
                                    <th>Year</th>
                                    <th>CVV</th>
                                    <th>Date Entered</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>CNIC@gmail.com</td>
                                    <td>PDF street</td>
                                    <td>İstanbul</td>
                                    <td>Turkey</td>
                                    <td>30765</td>
                                    <td>5245 7897 2147 6985</td>
                                    <td>fasdf fdsaf</td>
                                    <td>12</td>
                                    <td>28</td>
                                    <td>467</td>
                                    <td>7, December, 2022</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>CNIC@gmail.com</td>
                                    <td>PDF street</td>
                                    <td>İstanbul</td>
                                    <td>Turkey</td>
                                    <td>30765</td>
                                    <td>5245 7897 2147 6985</td>
                                    <td>fasdf fdsaf</td>
                                    <td>12</td>
                                    <td>28</td>
                                    <td>467</td>
                                    <td>7, December, 2022</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </body>
</html>
</span>